# generic files to ignore
.*

# python temp paths
__pycache__/
*.py[cod]

# editors
*~
*.swp
*.swo
*#

# Indexes for emacs, vi & others
TAGS
tags

# QtCreator
CMakeLists.txt.user

# ms-windows
Thumbs.db
ehthumbs.db
Desktop.ini

# commonly used paths in blender
/blender.bin
/BUILD_NOTES.txt

# local patches
/*.patch
/*.diff

# in-source doc-gen
/doc/doxygen/html/
/doc/python_api/sphinx-in-tmp/
/doc/python_api/sphinx-in/
/doc/python_api/sphinx-out/
/doc/python_api/rst/bmesh.ops.rst

# in-source lib downloads
/build_files/build_environment/downloads

# in-source buildbot signing configuration
/build_files/buildbot/codesign/config_server.py

# smoke simulation noise tile (generated)
waveletNoiseTile.bin

# testing environment
/Testing

/launcher_abler/*.log

# converter
release/scripts/addons_abler/io_skp
launcher_abler/requirements.txt
launcher_abler/build/AblerLauncher/AblerLauncher.exe.manifest
launcher_abler/build/AblerLauncher/Analysis-00.toc
launcher_abler/build/AblerLauncher/base_library.zip
launcher_abler/build/AblerLauncher/EXE-00.toc
launcher_abler/build/AblerLauncher/PKG-00.pkg
launcher_abler/build/AblerLauncher/PKG-00.toc
launcher_abler/build/AblerLauncher/PYZ-00.pyz
launcher_abler/build/AblerLauncher/PYZ-00.toc
launcher_abler/build/AblerLauncher/Tree-00.toc
launcher_abler/build/AblerLauncher/Tree-01.toc
launcher_abler/build/AblerLauncher/Tree-02.toc
launcher_abler/build/AblerLauncher/Tree-03.toc
launcher_abler/build/AblerLauncher/warn-AblerLauncher.txt
launcher_abler/build/AblerLauncher/xref-AblerLauncher.html
launcher_abler/dist/AblerLauncher.exe
launcher_abler/dist/config.ini
